# http://localhost:8080/h2-console
spring:
  datasource:
    url: jdbc:h2:file:./camunda-h2-database
    username: sa
    password: sa
  h2:
    console:
      enabled: true
  sql:
    init:
      mode: always